<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete page</title>
</head>
<body>

    <h1 th:text="${title}">Edit Page</h1>
    <table>
        <form method="post" action="/delete" th:object="${formModel}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <tr>
                <td><p th:text="| 이름 : *{name} |"></p></td>
            </tr>
            <tr>
                <td><p th:text="| 연령 : *{age} |"></p></td>
            </tr>
            <tr>
                <td><p th:text="| 메일 : *{mail} |"></p></td>
            </tr>
            <tr>
                <td><p th:text="| 메모 : *{memo} |"></p></td>
            </tr>
            <tr>
                <td><input type="submit" value="delete"/></td>
            </tr>
        </form>
    </table>
</body>
</html>