<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{content.title}">main page</h1>
    <p th:text="${msg}"></p>
    <table>
        <form method="post" th:object="${formModel}" action="/">
            <tr>
                <td><label for="name">이름</label></td>
                <td>
                    <input type="text" name="name" th:value="*{name}" th:errorclass="err"/>
                    <div th:if="#{fields.hasErrors('name')}" th:errors="*{name}" th:errorClass="err"></div>
                </td>
            </tr>
            <tr>
                <td><label for="age">연령</label></td>
                <td>
                    <input type="text" name="age" th:value="*{age}"/>
                    <div th:if="#{fields.hassErrors('age')}" th:errors="*{age}" th:errorClass="err"></div>
                </td>
            </tr>
            <tr>
                <td><label for="mail">메일</label></td>
                <td>
                    <input type="text" name="mail" th:value="*{mail}"/>
                    <div th:if="#{fields.hassErrors('mail')}" th:errors="*{mail}" th:errorClass="err"></div>
                </td>
            </tr>
            <tr>
                <td><label for="memo">메모</label></td>
                <td>
                    <textarea type="text" name="memo" th:text="*{memo}"
                                cols="20" rows="5"/>
                    <div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorClass="err"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"/></td>
            </tr>
        </form>
    </table>

    <hr/>

    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tr th:each="obj : ${datalist}">
            <td th:text="${obj.id}"></td>
            <td th:text="${obj.name}"></td>
        </tr>
    </table>
</body>
</html>